.container{
    border: 3px solid black;
    padding: 4px;
    margin: 2px;
}
.container-1, .container-2{
    border: 2px solid black;
    padding: 2px;
    margin: 3px;
}
.heading-1, .heading-2{
    border: 2px solid black;
    text-align: center;
}
li{
    list-style: none;
    padding: 5px;
}
ul{
    padding-inline-start: 0px;
    margin-bottom: 0px;
}
.leftInput{
    width: 250px;
    margin: 0px;
    display: inline-block;
}
.pageContent{
    margin: 0px auto;
    width: fit-content;
}
.hiddenContent{
    margin: 0px auto;
    width: 600px;
}
.bill, .final-word{
    text-align: center;
}
.dotted-line{
    height: 1px;
    border-bottom: 2px dotted black;
}