li{
    list-style: none;
    padding: 5px;
}
.container-1{
    border: 3px solid;
    margin: 10px auto;
    width: 500px;
    padding: 5px;
    background-color: rgb(196, 238, 255);
}
.left{
    padding: 5px;
    width: 150px;
    display: inline block;
    float: left;
}
.enter{
    padding: 2px;
    border: 2px solid rgb(255, 255, 255);
}
.btn{
    float: right;
    background-color: #00bfff;
    border: 2px solid;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signUp{
    padding: 5px;
    margin-top: 2px;
}
.btn:hover{
    cursor: pointer;
}
.error-1, .error-2, .error-2_1, .error-3, .error-3_1, .error-3_2, .error-3_3, .error-3_4, .error-4{
    color: red;
    font-size: small;
    margin-left: 160px;
    display: none;
}