.header {
    margin: 5px auto;
    width: 200px;
    text-align: center;
    border: 2px solid;
    padding: 2px;
    background-color: skyblue;
}
.userInput {
    border: 2px solid;
    width: 500px;
    margin: 10px auto;
    padding: 5px;
}
.submit {
    border: none;
    text-align: center;
}
li {
    border: 2px solid;
    margin: 4px;
    padding: 2px;
    list-style: none;
}
.label {
    width: 170px;
    padding: 4px;
    font-weight: bold;
    float: left;
}
.container2 {
    display: none;
}
.displayLabel {
    width: 120px;
    padding: 2px;
    list-style: none;
    display: inline-block;
}
.show {
    border: none;
    margin: 2px;

}
.showUserInput {
    border: 2px solid;
    width: 500px;
    margin: 10px auto;
    padding: 5px;
}
span {
    font-weight: lighter;
}
.error1,.error2, .minAge, .genderError{
    font-size: small;
    font-weight: lighter;
    color: red;
    display: none;
}
#submitbtn {
    background-color: rgb(2, 167, 2);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.separator{
    height: 1px;
    background-color: black;
}